html {
    scroll-behavior: smooth;
}


body {
    background-image: url(images/main.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #efe7af;
    margin: 0;
    padding: 0;
    background-color: #efe7af;
    width: 100%;

}


.header__nav{
    display: flex;
    overflow: hidden;

}

.header__logo{
    flex: 1;
    display: flex;
    position: relative;
    
}


.header__logo-overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    

}

.header__logo h4{
    padding-left: 30px;
    color: #efe7af;
    font-size: 50px;
}

.header__menu{
    padding: 20px;
    flex: 1.2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
    list-style-type: none;
}

.header__menu li{
font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
font-size: 16px;
text-transform: uppercase;
line-height: 20px;
cursor: pointer;
color: #efe7af;

}


.header__menu li a{
    color: #efe7af;
}

.main{
    line-height: 80%;
}

.main-first{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    
    
}
.main-second{
    font-size: 280px;
    text-align: center;
    position: relative;
    top: -130px;
}

.main-info{
    float: right;
    position: relative;
    top: -170px;
    right: 80px;
}

.main-info hr{
    color: #efe7af;
   border-top: 4px solid #efe7af;
   width: 30px;
   position: relative;
   right: 155px;
   margin-bottom: 25px;
    
}
.main-info p{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.main-secondary{
    position: relative;
    top: -100px;
    margin-left: 150px;
}
.main-secondary h2{
    font-style: italic;
    font-size: 100px;
    position: relative;
}

.main-secondary h3{
    font-size: 70px;
    position: relative;

    
}

.main-secondary h4{
    text-transform: uppercase;
    font-weight: lighter;
    position: relative;
    top: -20px;
    
    line-height: normal;
   text-align: left;
   font-size: 30px;
}
.main-secondary div{
   font-weight: lighter;
   text-align: justify;
   width: 450px;
   height: auto;
   position: relative;
   top: -40px;
   line-height: 25px;
}

.main-third h3{
      position: relative;
      margin-left: 150px;
      top: -135px;
      font-size: 24px;
}

.main-third button {
    background: none;
    color: #efe7af;
    transition: background-color 0.5s ease;
    border: 2px solid #efe7af;
    cursor: pointer;
    position: relative;
    top: -120px;
    right: -150px;
    width: 180px;
    height: 45px;
    
}

.middle {
    color: #4e463f;
    position: relative; 
    z-index: -1;
    margin: 0;
    padding: 0;
    
}

.middle img{
    float: right;
    border-radius: 200px 200px 0 0;
    height: 500px;
    width: auto;
    position: relative;
    bottom: 90px;
    right: 130px;
}
  
.middle h2{
    font-style: italic;
    font-size: 65px;
    font-weight: normal;
    position: relative;
    top: -250px;
    
}

.middle h3{
    font-size: 40px;
    position: relative;
    top: -280px;
    font-weight: normal;
}
.middle div{
    position: relative;
    top: 170px;
    margin-left: 150px;
}

.middle h4{
    position: relative;
    top: -300px;
    font-size: 24px;
    font-weight: lighter;
}
.middle p{
    font-weight: lighter;
   text-align: justify;
   width: 490px;
   height: auto;
   position: relative;
   left: 150px;
   top: -150px;
   line-height: 25px;
   font-size: 15px;
}

.middle a{
    color: #4e463f;
    font-weight: bold;
    position: relative;
    top:-150px;
    left: 150px;
    cursor: pointer;
}
  .calendar{
    background-color: #fff;
    color: #4e463f;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    clear: both;
  }
  .calendar-info{
    position: relative;
    right: 250px;
    float:right;
    bottom: 40px;
  }

  .calendar-info h2{
    text-transform: none;
    font-style: italic;
    font-weight: lighter;
    font-size: 80px;
  }
  
  .calendar-info h3{
    font-size: 29px;
    font-weight: lighter;
    position: relative;
    top: -69px;
  }

.calendar-info-text{
    font-size: 15px;
    position: relative;
    top: -80px;
}

.calendarinfo-more {
    font-size: 12px;
    position: relative;
    top: -50px;
}

.calendar-info button{
    background : none;
    border: 1px solid #4e463f;
    text-transform: uppercase;
    width: 150px;
    height: 35px;
    position: relative;
    top: -50px;
}

.calendar img{
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    top: -150px;
    width: 650px;
    left: 200px;
}

.tour{
    color: #efe7af;
    background-color: #504941;
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
    height: 1000px;
}

.tour-info{
    position:relative;
    top: 110px;
    margin-left: 150px;
   
}

.tour-info h1{
    font-size: 75px;
    font-weight: lighter;
    font-style: italic;
    position: relative;
    
}

.tour-info h3{
    font-size: 35px;
    font-weight: lighter;
    position: relative;
}

.tour-info h4{
    font-size: 20px;
    font-weight: lighter;
    position: relative;
}

.tour-info p{
    font-size: 12px;
    font-weight: lighter;

}

.tour-info button{
    background-color: #efe7af;
    border: 1px solid #efe7af;
    width: 150px;
    height: 35px;
}

.tour img{
    border-radius: 50%;
    width: 500px;
    position: relative;
    top: -400px;
    left: 900px;

}

.tour-back{
    font-size: 350px;
    font-style: italic;
    color: #5d534a;   
    position:absolute;
    position: relative;
    top: -650px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 .canvas{
    margin: 0;
    padding: 0;
    position: relative;
    top: -50px;
 }

 .canvas h4{
    
    text-transform: uppercase;
    position: relative;
    top: -150px;
    font-style: italic;
    font-size: 30px;
    text-align: center;
 }

 .carousel {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: -120px;
  }
  
  .carousel-inner {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;

  }
  
  .carousel-item {
    flex: 0 0 100%;
    position: relative;
  }

  .carousel-item img{
    width: 100%;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 550px;
    left: 100px;
    color: #efe7af;
   text-transform: uppercase;
   font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .carousel-caption h3 {
    font-size: 27px;
    margin: 0;
  }

  .carousel-caption hr{
   color: #efe7af;
   border-top: 4px solid #efe7af;
   width: 30px;

  }
  
  .carousel-caption p {
    font-size: 12px;
    margin: 0;
  }
  
  .footer{
    background-color: #4e463f;
    color: #efe7af;
    position: relative;
    bottom: 200px;
    height: 300px;
    width: 100%;
  }

  .footer-logo{
    font-size: 90px;
    font-weight: bold;
    position: relative;
    margin-left: 150px;
    top: 100px;
    
  }

  .footer h2{
    position: relative;
   font-weight: normal;
   font-style: italic;
   top: -30px;
   right: 300px;
  }

  .footer h2 a{
    color: #efe7af;
  }


  .footer p{
    position: relative;
    text-transform: uppercase;
    font-size: 10px;
   top: -30px;
   right: 300px;
  }

  .footer-info{
    float: right;
  }



  .copyright{
    color: #4e463f;
    margin-left: 150px;
  }
