body {
    background-image: url(images/main.jpg);
    background-color: #efe7af;
    color: #efe7af;
    width: auto;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    height: 1200px;
  
}